/* Basic styling */
h1{
    size: 2px;
    justify-content: c;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #cccccc; /* 60% light grey */
}

/* Form container */
.container {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

/* Form fields */
.form {
    display: flex;
    flex-direction: column;
}

.credentials-container {
    display: flex;
    justify-content: space-between;
}

.oracle-credentials, .postgres-credentials {
    flex: 1;
}

.field {
    margin: 5px 0;
}

label {
    color: #333; /* 30% pure white */
}

input[type="text"], input[type="number"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f8ff; /* 10% green */
}

input[type="submit"] {
    margin: 2% 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* green */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffffff; /* darker green */   
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #000000;
}