<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Data Validation</title>
</head>
<body>
    <div class="container">
        <h1></h1>
        <form action="/" method="POST" class="form">
            <div class="credentials-container">
                <div class="oracle-credentials">
                    <h2>Oracle:</h2>
                    <div class="field">
                        <label for="oracle_username">Username:</label>
                        <input type="text" id="oracle_username" name="oracle_username" required>
                    </div>
                    <div class="field">
                        <label for="oracle_password">Password:</label>
                        <input type="password" id="oracle_password" name="oracle_password" required>
                    </div>
                    <div class="field">
                        <label for="oracle_host">Host:</label>
                        <input type="text" id="oracle_host" name="oracle_host" required>
                    </div>
                    <div class="field">
                        <label for="oracle_port">Port:</label>
                        <input type="text" id="oracle_port" name="oracle_port" required>
                    </div>
                    <div class="field">
                        <label for="oracle_service_name">Service Name:</label>
                        <input type="text" id="oracle_service_name" name="oracle_service_name" required>
                    </div>
                </div>
                <div class="postgres-credentials">
                    <h2>PostgreSQL:</h2>
                    <div class="field">
                        <label for="postgres_user">Username:</label>
                        <input type="text" id="postgres_user" name="postgres_user" required>
                    </div>
                    <div class="field">
                        <label for="postgres_password">Password:</label>
                        <input type="password" id="postgres_password" name="postgres_password" required>
                    </div>
                    <div class="field">
                        <label for="postgres_host">Host:</label>
                        <input type="text" id="postgres_host" name="postgres_host" required>
                    </div>
                    <div class="field">
                        <label for="postgres_port">Port:</label>
                        <input type="text" id="postgres_port" name="postgres_port" required>
                    </div>
                    <div class="field">
                        <label for="postgres_dbname">Database:</label>
                        <input type="text" id="postgres_dbname" name="postgres_dbname" required>
                    </div>

                </div>
            </div>
            <!-- <h2>Table Name:</h2> -->
            <div class="field">
                <label for="table_names">Table Name:</label>
                <input type="text" id="table_names" name="table_names" required>
            </div>
            <input type="submit" value="Validate Row Count" class="button">
        </form>
    </div>
</body>
</html>
